[submodule "packages/aosync-sdk-react"]
	path = packages/aosync-sdk-react
	url = https://github.com/vela-ventures/aosync-sdk-react.git
	branch = main
[submodule "packages/ao-sync-sdk"]
	path = packages/ao-sync-sdk
	url = https://github.com/vela-ventures/ao-sync-sdk.git
[submodule "packages/aosync-strategy"]
	path = packages/aosync-strategy
	url = https://github.com/vela-ventures/aosync-strategy.git
	branch = main
